name: Publish Open Textbook

on:
  push:
    branches:
      - main  # Set a branch name to trigger deployment
    paths-ignore:
      - 'source/preprocess/**'
      - 'README.md'

jobs:
  publish_textbook:
    runs-on: ubuntu-20.04
    steps:
      
      - name: Download Source Files
        uses: actions/checkout@v2

      - name: Setup Pandoc
        run: brew install pandoc pandoc-crossref

      - name: Install LaTeX via TinyTex
        uses: r-lib/actions/setup-tinytex@v1

      - name: Checks Installations
        run: |
          tlmgr --version
          pandoc --version
          pandoc-crossref --version

      - name: Build Website
        run: |
          sh lantern.sh
          touch ./public/.nojekyll

      - name: Deploy
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./public/
